db/
greybox_tmp/
incremental_db/
*.rpt
*.qws
output_files/
simulation/
ksm-firmware/*.map
ksm-firmware/*.obj
ksm-firmware/*.bin
ksm-firmware/*.lst
*.bak
*.log
*.db
*.area
*.bid
*.bit
*.timing
*.tsm



